<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vue Basics</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="styles.css" />
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <script src="app.js" defer></script>
  </head>

  <body>
    <div id="headerDiv">
      <h1>MONSTER SLAYER</h1>
    </div>
    <div id="vue-root">
      <div id="bars-container">
        <div id="monsterHealthDiv" class="giveBorders">
          <h2>Monster Health</h2>
          <div id="monster-progress-bar" :style="monsterProgressBarStyle"></div>
        </div>
        <div id="playerHealthDiv" class="giveBorders">
          <h2>Player Health</h2>
          <div id="player-progress-bar" :style="playerProgressBarStyle"></div>
        </div>
      </div>
      <div id="skills">
        <div id="skills-container" v-if="!didGameEnd">
          <button class="giveBorders skill-element" @click="attackMonster">
            ATTACK
          </button>
          <button
            class="giveBorders skill-element"
            @click="specialAttackMonster"
            :disabled="canSpecialAttack"
          >
            SPECIAL ATTACK
          </button>
          <button class="giveBorders skill-element" @click="healPlayer">
            HEAL
          </button>
          <button class="giveBorders skill-element" @click="surrender">
            SURRENDER
          </button>
        </div>
        <div v-else>
          <div id="game-over-container" class="giveBorders">
            <h1>Game Over</h1>
            <p>{{winner}}</p>
            <button @click="startNewGame">Start New Game</button>
          </div>
        </div>
      </div>

      <div id="battle-log" class="giveBorders">
        <h3>Battle Log</h3>
        <ul>
          <li v-for="logMessage in logMessages">
            <span
              v-if="logMessage.actionBy == 'Player'"
              :style="{color:'green'}"
            >
              {{logMessage.actionBy+" "}}</span
            >
            <span v-else :style="{color:'red'}"
              >{{logMessage.actionBy+" "}}</span
            >
            <span
              >{{logMessage.actionType == 'heal' ? 'heals himself for' :
              'attacks and deals ' }}</span
            >
            <span
              :class="logMessage.actionValue > 10 ? 'high-value' : 'low-value'"
              >{{logMessage.actionValue}}</span
            >
          </li>
        </ul>
      </div>
    </div>
  </body>
</html>
